*{
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    grid-area: header;
    background-color: darkslategray;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';

} 
.middle{
    padding: 10px;
    grid-area: middle;
    min-height: 600px;
    background: url(https://pixabay.com/get/5fe3d6404350b108feda8460da293276103ddae6545475_1920.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.right { 
    padding: 10px;
    height: 600px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 2px 2px 2px;
    display: inline-block;
}
input[type=submit] {
    background-color: white;
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
input[type=submit]:hover {
    background-color: gray;
}
.col-25 {
    float: left;
    width: 0%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}
.left {
    grid-area: left;
    padding: 10px;
    height: 600px;
}
.right{
    grid-area: right;
}
.middle{
    grid-area: middle;
}

.footer{
    grid-area: footer;
    background-color: darkviolet;
    padding: 20px;
    text-align: center;
}
[class*="col-"] {
    width: 100;
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%}
    .col-12 {width: 100%}
}
img{
    max-width: 100%;
}